# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ignacio Morales
	email = imorales@g2.com
[push]
	autoSetupRemote = true
[url "git@github.com-g2:gartner-digital-markets/"]
  insteadOf = git@github.com:gartner-digital-markets/
[url "git@github.com-g2:capterra/"]
  insteadOf = git@github.com:capterra/
[url "git@github.com-g2:g2crowd/"]
  insteadOf = git@github.com:g2crowd/